################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/SmartyStickers/v15/Server/sqlite3
/.vs/SmartyStickers/v15
/SmartyStickers/obj/Debug
/SmartyStickers/Properties
/SmartyStickers/bin/Debug
